<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SleepRGB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SleepRGB.Properties.Settings>
            <setting name="Timeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="OFF_Effect" serializeAs="String">
                <value>Solid Color</value>
            </setting>
            <setting name="ON_Effect" serializeAs="String">
                <value>Screen Ambience</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="First_Run" serializeAs="String">
                <value>True</value>
            </setting>
        </SleepRGB.Properties.Settings>
    </userSettings>
</configuration>